# {{ ansible_managed }}

{% for hostname in hostvars -%}
    {%- set managed_domains = hostvars[hostname].web|default({})|json_query("[?frontend == '"+inventory_hostname+"']") -%}
    {%- if managed_domains -%}

        {%- for domain in managed_domains %}
        {%- set domain = web_defaults|combine(domain) %}
        {%- set upstream = hostname + "_" + domain.name %}

upstream {{upstream}} { server {{hostvars[hostname].internal_ip}}:{{domain.port}} ; }

server {
    listen 80;
    listen [::]:80;
    server_name {{domain.name}};
{% if 'letsencrypt' in domain and domain.letsencrypt and ( (not 'delegated' in domain.letsencrypt) or not domain.letsencrypt.delegated) %}
    include snippets/acme.conf;
{% endif %}
  
            {% if domain.ssl == 'force' %}

    location / {
        rewrite     ^   https://$server_name$request_uri? permanent;
    }

            {% else %}

    location / {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host {{domain.name}};
            proxy_read_timeout 300s;
            proxy_pass http{{ 's' if domain.proxy_ssl else ''}}://{{upstream}};
    }

            {% if domain.extra %}
                {{domain.extra}}
            {% endif %}

            {% endif %}

}
        {% endfor -%}


    {% endif -%}
{%- endfor %}

