*.pyc
/*.retry
*.sublime-workspace
/inventory/*
!/inventory/*.sample
!/inventory/_virtual_machines
!/inventory/_group_dependencies
!/inventory/group_vars
/host_vars/*
!/host_vars/*.sample
/config/*
!/config/*.sample
