#!/bin/bash
csr_subdir=$1
ca_url=$2

[ -z "${csr_subdir}" -o -z "${ca_url}" ] && exit 1

HOME_BASE="{{home}}/"
CSR_BASE="{{ssl_directory}}/${csr_subdir}"
CHAL_BASE="{{acme_challenge_directory}}"
CERT_BASE="{{ssl_cert_directory}}"

cd "{{acme_path}}"

echo -n "Running at "
date
##echo "Keybase ${keybase}"
keyfile="{{acme_path}}/${csr_subdir}.key"
for domainreq in "${CSR_BASE}"/*.csr; do
        if [ -r "${domainreq}" ]; then
                domain=`basename "${domainreq}" .csr`
                domainout="${CERT_BASE}/"
                mkdir -p "${domainout}"
                echo "Domain ${domain} age" $(( $(date +"%s") - $(stat -c "%Y" "${domainout}/${domain}.crt" 2> /dev/null || echo 0) ))
                if [ \! -e "${domainout}/${domain}.crt" -o \(  $(( $(date +"%s") - $(stat -c "%Y" "${domainout}/${domain}.crt" 2> /dev/null || echo 0) )) -gt 2592000  \) ]; then
                        echo Renewing ${domain}
                        python acme_tiny.py --ca "${ca_url}" --account-key "${keyfile}" --csr "${domainreq}" --acme-dir "${CHAL_BASE}" > crt.tmp && \
                        mv crt.tmp "${domainout}/${domain}.crt" && \
                        wget --quiet https://letsencrypt.org/certs/lets-encrypt-x3-cross-signed.pem -O "${domainout}/${domain}-intermediate.crt" && \
                        cat "${domainout}/${domain}.crt" "${domainout}/${domain}-intermediate.crt" > "${domainout}/${domain}-chained.crt"
                fi
        fi
done
