# -*- coding: utf-8 -*-

ODE_BASE_DN = "{{ ldap_domain | hostname_to_dn}}"
ODE_USER_BASE = "ou={{ ldap_users_ou }},%(ODE_BASE_DN)s"
ODE_GROUP_BASE = "ou={{ ldap_groups_ou }},%(ODE_BASE_DN)s"
ODE_MAILING_LIST_BASE = "ou={{ ldap_mailing_lists_ou }},%(ODE_BASE_DN)s"
ODE_ALIAS_BASE = "ou={{ ldap_aliases_ou }},%(ODE_BASE_DN)s"
ODE_USER_DN = "uid=%(username)s,ou={{ ldap_users_ou }},%(ODE_BASE_DN)s"
ODE_ALLOW_DIRECT_DN = {{ "True" if ode_allow_direct_dn else "False" }}

ODE_BIND_DN = "uid={{ ode_ldap_service_user }},ou={{ ldap_services_ou }},{{ ldap_domain | hostname_to_dn }}"
ODE_BIND_PW = {{ode_ldap_service_password | to_json}}

SQLALCHEMY_DATABASE_URI = 'sqlite:///{{ode_instance}}/ode.sqlite'
DISPLAY_TIMEZONE = {{ode_display_timezone | to_json}}

{% set ode_settings = ode|default_hash(ode_defaults) %}
ISI_EVENT_SOURCES = {{ ode_settings.isi_event_sources | to_json }}

LDAP_SERVER = '{{hostvars[ldap_server].internal_ip}}'
LDAP_PORT = 389
LDAP_TIMEOUT = 10
LDAP_USE_TLS = False  # default

MAIL_SERVER = 'mail.example.com'

AMU_USERMODMAIL = dict(
        sender = u"The Management <mgmt@example.com>",
        subject = u"Your account at example.com",
        body = u"""Your account at example.com has been created or changed:

{% raw %}
 Benutzername: {{ user.userid }}
 Passwort:     {{ form.password.data }}
{% endraw %}

You can, and should, change your password at
  https://example.com/selfservice/

You can find more information at
  https://wiki.example.com/

Yours truly,
  {% raw %}{{ g.ldap_user.name }}{% endraw %}
""")
