# -*- coding: utf-8 -*-

ODE_BASE_DN = "{{ ldap_domain | hostname_to_dn}}"
ODE_USER_BASE = "ou={{ ldap_users_ou }},%(ODE_BASE_DN)s"
ODE_GROUP_BASE = "ou={{ ldap_groups_ou }},%(ODE_BASE_DN)s"
ODE_MAILING_LIST_BASE = "ou={{ ldap_mailing_lists_ou }},%(ODE_BASE_DN)s"
ODE_ALIAS_BASE = "ou={{ ldap_aliases_ou }},%(ODE_BASE_DN)s"
ODE_USER_DN = "uid=%(username)s,ou={{ ldap_users_ou }},%(ODE_BASE_DN)s"
ODE_ALLOW_DIRECT_DN = {{ "True" if ode_allow_direct_dn else "False" }}

ODE_BIND_DN = "uid={{ ode_ldap_service_user }},ou={{ ldap_services_ou }},{{ ldap_domain | hostname_to_dn }}"
ODE_BIND_PW = {{ode_ldap_service_password | to_json}}

SQLALCHEMY_DATABASE_URI = 'sqlite:///{{ode_instance}}/ode.sqlite'
DISPLAY_TIMEZONE = {{ode_display_timezone | to_json}}
SERVER_NAME = "{{ode_server_name}}"

{% set ode_settings = ode|default_hash(ode_defaults) %}
ISI_EVENT_SOURCES = {{ ode_settings.isi_event_sources | to_json }}

LDAP_SERVER = '{{hostvars[ldap_server].internal_ip}}'
LDAP_PORT = 389
LDAP_TIMEOUT = 10
LDAP_USE_TLS = False  # default

MAIL_SERVER = "{{ode_mail_server}}"
MAIL_USERNAME = "{{ ode_ldap_service_user }}"
MAIL_PASSWORD = {{ode_ldap_service_password | to_json}}
MAIL_PORT = 587
MAIL_USE_TLS = True


AMU_MAILMAN_API_URL = "{{ode_amu_mmapi_url}}"

AMU_USERMODMAIL = dict(
    sender = u"{{ode_amu_sender}}",
    subject = u"Dein Account auf {{primary_domain}}",
    body = u"""Dein Benutzerkonto auf {{primary_domain}} wurde erzeugt oder geändert:

{% raw %}
 
 Benutzername: {{ user.userid }}
 Passwort:     {{ form.password.data }}

{% endraw %}

Du kannst, und solltest, dein Passwort jetzt unter
  https://ode.{{primary_domain}}/
ändern.

Mit freundlichen Grüßen,
  {% raw %}{{ g.ldap_user.name }}{% endraw %}
"""
)


ISI_IMIP_ADDRESS = "ode+%(token)s@{{primary_domain}}"
ISI_IMAP_SERVER = "{{ode_mail_server}}"
ISI_IMAP_PORT = 993
ISI_IMAP_TLS = True
ISI_IMAP_USER = "{{ ode_ldap_service_user }}"
ISI_IMAP_PASSWORD = {{ode_ldap_service_password | to_json}}
ISI_IMAP_DEBUG = True

{% raw %}
ISI_DEFAULT_TEMPLATES = [
    dict(category="Berliner Samstagsrunde",
        subject=u"Berliner Samstagsrunde am {{event.start|dateformat}}",
        text_html=u"""<h1>{{event.summary}}</h1>
<p>Wir wollen euch alle sehen.</p>

<p>Um das Catering zu planen, möchten wir dich bitten, dich zurückzumelden, ob du kommst:</p>
<ul>
    {% raw %}
  <li><a href="{{link_yes}}">Ja, ich komme!</a></li>
  <li><a href="{{link_no}}">Nein, dieses mal kann ich leider nicht kommen.</a></li>
    {% endraw %}{{ "{%" }}{{ "endraw %}" }}{% raw %}

<p>Beschreibung: {{event.description}}</p>
<p>Start: {{event.start|datetimeformat}}</p>
<p>Ende: {{event.end|datetimeformat}}</p>""",
        recipients_raw=["cn=samstagsrunde,ou=Mailing-Listen,dc=christophorus,dc=club"],
        sender="Berliner Samstagsrunde <samstagsrunde@christophorus.club>")
]
{% endraw %}

